<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ config.title }}</title>
    
    <!-- Your compiled Sass -->
    <link rel="stylesheet" href="{{ config.base_url ~ "style.css" | safe }}{% if config.extra.cache_bust %}?h={{ now() | date(format="%s") }}{% endif %}">
</head>
<body>
    <div class="ribbon">
        <nav class="ribbon-nav">
            <a href="{{ get_url(path="@/_index.md", lang=lang) }}" class="nav-item">{{ trans(key="home", lang=lang) }}</a>
            <a href="{{ get_url(path="@/products/_index.md", lang=lang) }}" class="nav-item">{{ trans(key="shop", lang=lang) }}</a>
            <a href="{{ get_url(path="@/about.md", lang=lang) }}" class="nav-item">{{ trans(key="about", lang=lang) }}</a>
            <a href="#" class="nav-item">{{ trans(key="account", lang=lang) }}</a>
            <button class="snipcart-checkout nav-item">{{ trans(key="cart", lang=lang) }} (0)</button>
            
            <div class="lang-switcher">
                {% if lang == "en" %}
                    <a href="{{ config.base_url ~ "it" ~ current_path }}" class="nav-item">🇮🇹 IT</a>
                {% else %}
                    <a href="{{ config.base_url ~ current_path | replace(from="/it/", to="/") | trim_start_matches(matches="/") }}" class="nav-item">🇬🇧 EN</a>
                {% endif %}
            </div>
        </nav>
    </div>
    
    <div class="site-wrapper">
        <header>
            <a href="{{ get_url(path="@/_index.md", lang=lang) }}">
                <img src="{{ config.base_url ~ "HeureBleueLogo.png" }}" alt="Heure Bleue Logo" class="site-logo">
            </a>
        </header>

        <main>
            {% block content %} {% endblock content %}
        </main>

        <footer>
            <p>&copy; 2026 Heure Bleue Shop</p>
        </footer>
    </div>
</body>
</html>
